<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO</title>
    <link rel="stylesheet" href="~/img/style.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="~/img/1.jpg" class="logo">
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="#">Hà Nội</a></li>
            <li><a href="#">Đà Nẵng</a></li>
            <li><a href="#">Nha Trang</a></li>
            <li><a href="#">Đà Lạt</a></li>
        </ul>
    </nav>
    <main class="content">
        <h1>HÀ NỘI</h1>
        <p>Hà Nội có gì mà khiến bao người một lần đặt chân đến đây đều say đắm, mê mẩn? 
        Cùng tìm hiểu những kinh nghiệm du lịch Hà Nội từ cẩm nang chi tiết dưới đây để tìm cho mình lời giải đáp 
        nhé!</p>

        <section class="destination">
            <h2>1. Hồ Hoàn Kiếm</h2>
            <p>Hồ Hoàn Kiếm là thắng cảnh nổi tiếng ở Hà Nội...</p>
            <div class="images">
                <img src="~/img/1.jpg" alt="Image 1">
                <img src="~/img/1.jpg" alt="Image 2">
                <img src="~/img/1.jpg" alt="Image 3">
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Bản quyền của Vietravel © 2016. Bảo lưu mọi quyền.</p>
        <p>Ghi rõ nguồn "www.travel.com.vn" ®  khi sử dụng lại thông tin từ website này</p>
        <p>Số giấy phép kinh doanh lữ hành quốc tế:79-234/2014/TCDL-GP-LHQT</p>
    </footer>

</body>
</html>