<html>
<head>
    <title>
        HELLO WORLD
    </title>
</head>
<body>
    <h1>
        HELLO WORLD
    </h1>
    <a href="https://www.w3schools.com/">
        <h1>W3School</h1>
    </a>
    <table border="1">
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Giá Bán</th>
        </tr>
        <tr>
            <td>A01</td>
            <td>Cocacola</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>B02</td>
            <td>Pepsi</td>
            <td>7000</td>
        </tr>
    </table>
    <form>
        <input type="submit" value="Đăng nhập">
    </form>
    <form>
        User name:<br>
        <input type="text"><br>
    </form>
    <table border="2">
        <tr>
            <th colspan="5">THÔNG TIN SINH VIÊN</th>
        </tr>
        <tr>
            <th rowspan="4">
                <img src="~/img/tu-van.jpg" width="100" height="100">
            </th>
            <th>Họ và tên</th>
            <th colspan="3">Nguyễn Văn An</th>
        </tr>
        <tr>
            <th>MÃ SỐ SINH VIÊN</th>
            <th>19DH110110</th>
            <th>GIỚI TÍNH</th>
            <th>NAM</th>
        </tr>
        <tr>
            <th>Email</th>
            <th>an@gmail.com</th>
            <th>SỐ ĐIỆN THOẠI</th>
            <th>0123456789</th>
        </tr>
        <tr>
            <th>SỞ THÍCH</th>
            <th colspan="3">VIẾT CHƯƠNG TRÌNH</th>
        </tr>
    </table>




    <h1>NHẬP THÔNG TIN SINH VIÊN</h1>
    <form>
        HỌ VÀ TÊN:
        <input type="text" />
        <br />
        MÃ SỐ SINH VIÊN:
        <input type="text" />
        <br />
        Ngày SINH:
        <input type="date" />
        <br />
        CHUYÊN NGÀNH:
        <input type="radio" name="chuyen_nganh" value="CNPM" /> CNPM
        <input type="radio" name="chuyen_nganh" value="HTTT" /> HTTT
        <input type="radio" name="chuyen_nganh" value="AN NINH MẠNG" /> AN NINH MẠNG
        <br />
        SỞ THÍCH:
        <br />
        <input type="checkbox" />
        VIẾT CHƯƠNG TRÌNH
        <br />
        <input type="checkbox" />
        PHÂN TÍCH CSDL
        <br />
        <input type="checkbox" />
        XÂY DỰNG SƠ ĐỒ MẠNG
        <br />
        MÀU SẮC YÊU THÍCH:
        <input type="color" />
        <br />
        HÌNH ĐẠI DIỆN:
        <input type="file" />
        <br />
        TÊN ĐĂNG NHẬP WEB TRƯỜNG:
        <input type="text" />
        <br />
        MẬT KHẨU ĐĂNG NHẬP WEB TRƯỜNG:
        <input type="password" />
        <br />
        <input type="submit" value="Gửi dữ liệu về máy chủ" />
        <h1>NHẬP THÔNG TIN SINH VIÊN</h1>
        <table style="width:100%" border="1">
            <tr>
                <th rowspan="3">
                    <img src="~/img/tu-van.jpg" width="200" height="200">
                </th>
                <th>
                    HỌ VÀ TÊN:
                </th>
                <th colspan="2">
                    <input type="text" />
                </th>
            </tr>
            <tr>
                <th>
                    MÃ SỐ SINH VIÊN
                </th>
                <th colspan="2">
                    <input type="text" />
                </th>
            </tr>
            <tr>
                <th>
                    NGÀY SINH
                </th>
                <th colspan="2">
                    <input type="date" />
                </th>
            </tr>
            <tr>
                <th colspan="2">CHUYÊN NGÀNH:</th>
                <th colspan="2">
                    <input type="radio" name="chuyen_nganh" value="CNPM" /> CNPM
                    <input type="radio" name="chuyen_nganh" value="HTTT" /> HTTT
                    <input type="radio" name="chuyen_nganh" value="AN NINH MẠNG" /> AN NINH MẠNG
                </th>
            </tr>
            <tr>
                <th colspan="2">SỞ THÍCH:</th>
                <th colspan="2">
                    <input type="checkbox" />
                    VIẾT CHƯƠNG TRÌNH
                    <br />
                    <input type="checkbox" />
                    PHÂN TÍCH CSDL
                    <br />
                    <input type="checkbox" />
                    XÂY DỰNG SƠ ĐỒ MẠNG
                </th>
            </tr>
            <tr>
                <th>MÀU SẮC YÊU THÍCH:</th>
                <th>
                    <input type="color" />
                </th>
                <th>HÌNH ĐẠI DIỆN:</th>
                <th>
                    <input type="file" />
                </th>
            </tr>
            <tr>
                <th>TÊN ĐĂNG NHẬP WEB TRƯỜNG</th>
                <th>
                    <input type="text" />
                </th>
                <th>MẬT KHẨU ĐĂNG NHẬP WEB TRƯỜNG</th>
                <th>
                    <input type="password" />
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    <input type="submit" value="Gửi dữ liệu về máy chủ" />
                </th>
                <th colspan="2">

                </th>
            </tr>
        </table>
</body>
</html>